
.pure-form .pure-group{
    display: block;
    margin: 1.0em auto;
    text-align: center;
}

.pure-form .pure-group .record-form-input.pure-input-1-2{
  margin: auto;
  width: 80%;
}

video#webcam {
  max-height: 80%;
  height: 80%;
  width: 100%;
}

#current-snapshot {
  width: 0%;
  height: 0%;
  opacity: 0;
}

.record-box, .record-form {
  position: relative;
}

/*.record-webcam {
  margin-right: 10px;
}*/

#receiverwebcam {
  z-index: 1000;
  margin-left: -12.5%;
}

.pure-button-error {
    background: rgb(202, 60, 60);
    color: white;
}

li {
  text-align: left;
}

.chatbox {
  height:300px;
  width: 100%;
  background-color: white;
  overflow: break-word;
  padding: none;
}
.chatboxlist {
  text-align: left;
  list-style-type:none;
  margin-left:none;
}
.emailheader{
  position: absolute;
  left:43%;
}
.emailfeild {
  position: absolute;
  left:43%;

}



