extends ./base

block styles
  link(rel='stylesheet', href='style/welcome.css')

block content
  div.welcome-container
    img.logo(src='images/logo.png')
    h1.title Sentiview
    h4.subtitle A new way to interview
    div.button-container
      a.pure-button.start-button(href='login') Get started
